:root {
  --text: #333;
  --bg: #c2c2c6;

  font-family: system-ui, sans-serif;
  color: var(--text);
  background: var(--bg);
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #e5e5e5;
    --bg: #121212; 
  }
}

body {
  margin: 0;
}